<div class="container ">
    <div class="mt-4 form-wrapper text-center pt-1">
        <h2 class="text-primary">Crea un personaje</h2>
        <!-- {{player   | json}} -->
        <form enctype="multipart/form-data"  name = createForm>
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control"  name="nombre" [(ngModel)]="player.nombre" #name="ngModel" required>
                
            </div>
            <div class="form-group">
                <label for="">Descripcion</label>
                <input type="text" class="form-control" [(ngModel)]="player.descripcion" name="descripcion">
            </div>
            <div class="form-group">
                <label for="">Ataque</label>
                <input type="number" class="form-control"  [(ngModel)]="player.ataque" name="ataque" min="1">
            </div>
            <div class="form-group">
                <label for="">Defensa</label>
                <input type="number" class="form-control" [(ngModel)]="player.defensa" name="defensa" min="1">
            </div>
            <div class="form-group">
                <label for="">Vida</label>
                <input type="number" class="form-control" [(ngModel)]="player.vida" name="vida" min="10">
            </div>
            <div class="form-group">
                <input type="file" class="form-control-file"   name="file" (change)="selectImage($event)">           
            </div>
            <button class="btn btn-primary form-control" (click)="createPlayer()">Crear Vikingo</button>
        </form>
        <a routerLink = "select">Seleccionar personajes</a>
    </div>
</div>

