/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url('assets/bgc.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.card{
    cursor: pointer;
}
.card-img-top{
    height: 169px;
    object-fit:cover;
}